body {
    font-size: 20px;
    font-family: monospace;
    background: linear-gradient(to bottom, #8fa5be, #1d4058);
    padding: 30px;
}

section {
    padding-top: 50px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-top: 50px;
}

.presentacion {
    margin-left: 20px;
    text-align: justify;
}

.titulo {
    color: darkblue;
    margin-bottom: 0;
}

.subtitulo {
    color: darkblue;
    font-weight: normal;
}

.contacto {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tecnologias {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #9daec7;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid darkblue;
}

.rol {
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 10px;
}

.fotoPerfil {
    width: 200px;
    height: 200px;
    border: 1px solid darkblue;
    border-radius: 10px;
    object-fit: cover;
}

.proyectos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #9daec7;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid darkblue;
}
.screenProyecto{
    border-radius: 10px;
}

.screenProyecto:hover{
    filter: brightness(50%);
    cursor: pointer;
}

.info-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuBtn{
    width: 45px;
    cursor: pointer;
}

.menu{
    position: absolute;
    top: 75px;
    right: 90px;
    background-color: #9daec7;
    border: 1px solid darkblue;
    border-radius: 10px;
    padding-right: 20px;
    display: none;
}